
body {
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .containerCl {
    display: flex;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    margin-right: 20px;
  }
  
  .image-header {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
  }
  
  .image-placeholder {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
  }
  
  .recommendation-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .recommendation-container h3 {
    margin-top: 0;
    color: #5a3e3e;
  }
  
  .recommendation-text {
    font-size: 18px;
    color: #000;
  }
  
  .highlight {
    color: #0000ff;
    font-weight: bold;
  }
  
  form {
    margin: 20px 0;
  }
  
  form div {
    margin: 10px 0;
  }
  
  .confirm-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .back-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #c72424;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button:hover {
    background-color: #45a049;
  }
  