# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/recomendation_system/node_modules
/recomendation_system/.pnp
/recomendation_system/.pnp.js

# python cache
/recomendation_system/API/__pycache__

# model
/recomendation_system/API/model.pth

# images:
/recomendation_system/public/images

# testing
/recomendation_system/coverage

# production
/recomendation_system/build

# misc
/recomendation_system/.DS_Store
/recomendation_system/.env.local
/recomendation_system/.env.development.local
/recomendation_system/.env.test.local
/recomendation_system/.env.production.local

/recomendation_system/npm-debug.log*
/recomendation_system/yarn-debug.log*
/recomendation_system/yarn-error.log*
