# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/sistema_recomendacao/node_modules
/sistema_recomendacao/.pnp
/sistema_recomendacao/.pnp.js

# python cache
/sistema_recomendacao/API/__pycache__

# model
/sistema_recomendacao/API/model.pth

# images:
/sistema_recomendacao/public/images

# testing
/sistema_recomendacao/coverage

# production
/sistema_recomendacao/build

# misc
/sistema_recomendacao/.DS_Store
/sistema_recomendacao/.env.local
/sistema_recomendacao/.env.development.local
/sistema_recomendacao/.env.test.local
/sistema_recomendacao/.env.production.local

/sistema_recomendacao/npm-debug.log*
/sistema_recomendacao/yarn-debug.log*
/sistema_recomendacao/yarn-error.log*
